<%= form_with(model: note) do |form| %>
  <% if note.errors.any? %>
    <div style="color: red">
      <h5><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved</h5>
      <% note.errors.each do |error| %>
        <div class="alert alert-danger" role="alert">
          <%= error.full_message %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div>
    <%= form.label :description, style: "display: block", class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, ["baja", "media", "alta"], { selected_value: note.status || 'baja' }, {:class => "form-select"} %>
  </div>

  <div class="text-center">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
