<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Notes App</a>
    <%= form_tag notes_path, method: :get, data: { turbo_frame: "search-results", turbo_action: "advance", controller: "search", action: "input->search#submit" },  class: "d-flex gap-1" do |f| %>
      <%= text_field_tag "query", nil, placeholder: "Search by name ...", class: "form-control" %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
    <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-secondary" %>
  </div>
</nav>
<div class="d-flex justify-content-between py-3 px-5">
  <h2 class="d-block">Notes</h2> 
  <%#3= current_user.email %>
  <%= link_to "New note", new_note_path, class: "btn btn-primary", data: { turbo_frame: "remote_modal" } %>
</div>
<div id="notes" class="container px-5">
  <%= turbo_frame_tag "search-results" do %>
    <div class="row" data-masonry='{"percentPosition": true }'>
      <% @notes.each do |note| %>
        <div class="col-sm-4 col-md-3">
          <%= render note %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

